@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" ng-app="MusicInstrumentsSpa">
    <div ng-view>

    </div>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js" type="text/javascript"></script>
    <script src="https://code.angularjs.org/1.8.2/angular-route.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        function modalClose() {
            $('modal').modal('hide');
        }
        var app = angular.module('MusicInstrumentsSpa', ['ngRoute', 'ngStorage']);
        app.config(function ($routeProvider) {
            $routeProvider
                .when('/', {
                    templateUrl: 'pages/index.html',
                    controller: 'IndexController'
                })
                .when('/Users', {
                    templateUrl: 'pages/users.html',
                    controller: 'UsersController'
                })
                .when('/SignUp', {
                    templateUrl: 'pages/registration.html',
                    controller: 'RegisterController'
                })
                .when('/SignIn', {
                    templateUrl: 'pages/login.html',
                    controller: 'LoginController'
                })
                .when('/AddProduct', {
                    templateUrl: 'pages/add_product.html',
                    controller: 'AddProductController'
                })
                .when('/EditProduct', {
                    templateUrl: 'pages/add_product.html',
                    controller: 'EditProductController/:productId'
                })
                .when('/MyProducts', {
                    templateUrl: 'pages/my_products.html',
                    controller: 'MyProductsController'
                })
                .when('/MyAccount', {
                    templateUrl: 'pages/account.html',
                    controller: 'AccountController'
                })
                .when('/EditAccount', {
                    templateUrl: 'pages/registration.html',
                    controller: 'EditAccountController'
                })
                .when('/UserDetails/:UserId', {
                    templateUrl: 'pages/user_details.html',
                    controller: 'UserDetailsController'
                })
                .otherwise({
                    redirectTo: '/'
                })
        });
        app.service('AuthenticationCheck', function () {
            var service = {};
            service.IsLogged = function (callback) {
                if (sessionStorage.getItem('current_user')) {
                     callback(true);
                } else {
                     callback(false);
                }
            }
            return service;
        });
        app.service('AuthenticationService', ['$http', 'AuthenticationCheck', function ($http, AuthenticationCheck) {
            var service = {};
            service.Login = function (login, callback) {
                AuthenticationCheck.IsLogged(function (result) {
                    if (result) {
                        callback(false);
                    } else {
                        $http.post("@Url.Action("Authenticate", "Authenticate")", login).then(
                            function (response) {
                                 sessionStorage.setItem('token', response.data);
                                 $http.defaults.headers.common.Authorization = 'Bearer ' + response.data;
                                $http.get("@Url.Action("GetLoggedUser", "Users")").then(function (response) {
                                    sessionStorage.setItem('current_user', JSON.stringify(response.data));
                                    callback(true);
                                })
                            },
                            function (error) {
                                callback(false);
                            })
                    }
                })
            }
            service.Logout = function () {
                sessionStorage.clear();
                $http.defaults.headers.common.Authorization = '';
            }
            return service;
        }])
        app.controller('IndexController', ['$scope', '$http', function ($scope, $http) {
            $scope.message = "Welcome to the App. See the most recent products available!";
            $scope.products = [];
             $http.get(`@Url.Action("GetProducts", "Products")?status=0`).then(function (response) {
             $scope.products = response.data;
          })
        }]);
        app.controller('UsersController', ['$scope', '$http', function ($scope, $http) {
            $scope.users = [];
            $http.get("@Url.Action("GetUsers", "Users")").then(function (response) {
                $scope.users = response.data;
                $scope.users.forEach(function (user) {
                    var date = new Date(user.dateOfBirth);
                    var year = date.getFullYear();
                    var month = date.getMonth();
                    var day = date.getDate();
                    user.dateOfBirth = `${day}/${month + 1}/${year}`;
                })
            })
        }]);
        app.controller('RegisterController', ['$scope', '$http', '$location', 'AuthenticationService', 'AuthenticationCheck', function ($scope, $http, $location, AuthenticationService, AuthenticationCheck) {
            $scope.user = {
                id: 0,
                firstName: '',
                lastName: '',
                phoneNumber: null,
                dateOfBirth: null,
                email: null,
                userName: '',
                password: ''
            }
            $scope.DisplayForm = true;
            $scope.info = "";
            $scope.message = "";
            AuthenticationCheck.IsLogged(function (result) {
                if (result) {
                    $scope.info = "You are already registered";
                    $scope.DisplayForm = false;
                }
            })
            $scope.Save = function () {
                $http.post("@Url.Action("PostUser", "Users")", $scope.user).then(function (response) {
                    $scope.login = {
                        userName: $scope.user.userName,
                        password: $scope.user.password
                    }
                    AuthenticationService.Login($scope.login, function (result) {
                        if (result) {
                            $location.path('/MyAccount');
                        } else {
                            $scope.message = "Something went wrong";
                        }
                    })
                }, function (error) {
                        $scope.message = error.data;
                });
            }
        }])
        app.controller('LoginController', ['$scope', '$location', 'AuthenticationService', "AuthenticationCheck", function ($scope, $location, AuthenticationService, AuthenticationCheck) {
            $scope.login = {
                userName: null,
                password: null
            };
            $scope.message = "";
            $scope.IsLogged = true;
            AuthenticationCheck.IsLogged(function (result) {
                if (!result) {
                    $scope.IsLogged = false;
                }
            })
            $scope.SignIn = function () {
                AuthenticationService.Login($scope.login, function (result) {
                    if (result) {
                        $location.path('/MyAccount');
                    } else {
                        $scope.message = "Login failed";
                    }
                })
            }
        }]);
        app.controller('AddProductController', ['$http', '$scope', '$location', 'AuthenticationCheck', function ($http, $scope, $location, AuthenticationCheck) {
            $scope.message = "";
            $scope.IsLogged = false;
            $scope.editMode = false;
            $scope.manufacturers = [];
            $scope.productSubcategories = [];
            $scope.conditions = [
                {
                    condValue: 0,
                    condName: 'New'
                },
                {
                    condValue: 1,
                    condName: 'Medium'
                },
                {
                    condValue: 2,
                    condName: 'Old'
                }
            ]
            $scope.statuses = [
                {
                    statusValue: 0,
                    statusName: 'Available'
                },
                {
                    statusValue: 1,
                    statusName: 'Booked'
                },
                {
                    statusValue: 2,
                    statusName: 'Sold'
                }
            ]
            $http.get("@Url.Action("GetManufacturers","Manufacturers")").then(function (response) {
                $scope.manufacturers = response.data;
            })
             $http.get("@Url.Action("GetProductSubcategories", "ProductSubcategories")").then(function (response) {
                 $scope.productSubcategories = response.data;
             })
            AuthenticationCheck.IsLogged(function (result) {
                if (result) {
                    $scope.IsLogged = true;
                }
            })
            $scope.onChange = function (item, context) {
                $scope.product[context] = item
            }
            $scope.product = {
                productName: null,
                productDescription: null,
                price: null,
                location: null,
                manufacturerId: null,
                condition: null,
            };
            $scope.Save = function () {
                $http.post("@Url.Action("PostProduct", "Products")", $scope.product).then(function (response) {
                    $location.path('/MyProducts');
                }, function (error) {
                        $scope.message = error.data;
                })
            }
        }])
        app.controller('MyProductsController', ['$scope', '$http', 'AuthenticationCheck', function ($scope, $http, AuthenticationCheck) {
            $scope.message = "";
            $scope.products = [];
            $scope.IsLogged = false;
            AuthenticationCheck.IsLogged(function (result) {
                if (result) {
                    $scope.IsLogged = true;
                    $scope.CurrentUser = JSON.parse(sessionStorage.getItem('current_user'));
                    $http.get(`@Url.Action("GetProducts", "Products")?user=${$scope.CurrentUser.userId}`).then(function (response) {
                         $scope.products = response.data;
                    })
                } else {
                    $scope.message = "Login to see your products";
                }
            })
        }])
        app.controller('AccountController', ['$scope', '$http', '$location', 'AuthenticationCheck', 'AuthenticationService', function ($scope, $http, $location, AuthenticationCheck, AuthenticationService) {
            $scope.message = "";
            $scope.user = null;
            $scope.IsLogged = false;
            AuthenticationCheck.IsLogged(function (result) {
                if (result) {
                    $scope.user = JSON.parse(sessionStorage.getItem('current_user'));
                    $scope.IsLogged = true;
                } else {
                    $scope.message = "Sign in to see your account details";
                }
            });
                $scope.Delete = function () {
                $http.delete(`@Url.Action("GetUsers", "Users")/${$scope.user.userId}`, $scope.user.userId).then(function (response) {
                    AuthenticationService.Logout();
                    $scope.user = null;
                    $scope.message = "Account is deleted";
                    $scope.IsLogged = false;
                })
            }
            $scope.SignOut = function () {
                AuthenticationService.Logout();
                $location.path('/');
            }
        }])
        app.controller('EditAccountController', ['$scope', '$http', '$location', 'AuthenticationCheck', function ($scope, $http, $location, AuthenticationCheck) {
            $scope.user = null;
            $scope.DisplayForm = false;
            $scope.message = "";
            $scope.info = "";
            AuthenticationCheck.IsLogged(function (result) {
                if (result) {
                    $scope.user = JSON.parse(sessionStorage.getItem('current_user'));
                    $scope.user.dateOfBirth = new Date($scope.user.dateOfBirth);
                    $scope.DisplayForm = true;
                } else {
                    $scope.info = "To edit account you should sign in first";
                }
            })
            $scope.Save = function () {
                $http.put(`@Url.Action("GetUsers", "Users")/${$scope.user.userId}`, $scope.user).then(function (response) {
                    sessionStorage.setItem('current_user', JSON.stringify($scope.user));
                    $location.path('/MyAccount');
                },
                    function (error) {
                        $scope.message = error.data.title;
                    }
                )
            }
        }])
        app.controller('UserDetailsController', ['$scope', '$http','$routeParams', function ($scope, $http, $routeParams) {
            $scope.user = null;
            $scope.products = [];
            $scope.message = "";
            $http.get(`@Url.Action("GetUsers", "Users")/${$routeParams.UserId}`).then(function (response) {
                $scope.user = response.data;
                $http.get(`@Url.Action("GetProducts", "Products")/?user=${$scope.user.userId}`).then(function (response) {
                    $scope.products = response.data;
                })
            },
            function (error) {
                $scope.message = error.data;
            })
        }])
    </script>
}