@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" ng-app ="MusicInstrumentsSpa">
        <div ng-view>

        </div>
    </div>

    @section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js" type="text/javascript"></script>
    <script src="https://code.angularjs.org/1.8.2/angular-route.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var app = angular.module('MusicInstrumentsSpa', ['ngRoute', 'ngStorage']);

        app.config(function ($routeProvider) {
            $routeProvider
                .when('/', {
                    templateUrl: 'pages/index.html',
                    controller: 'IndexController'
                })
                .when('/Users', {
                    templateUrl: 'pages/users.html',
                    controller: 'UsersController'
                })
                .when('/SignUp', {
                    templateUrl: 'pages/registration.html',
                    controller: 'RegisterController'
                })
                .when('/SignIn', {
                    templateUrl: 'pages/login.html',
                    controller: 'LoginController'
                })
                .when('/SignOut', {
                    templateUrl: 'pages/logout.html',
                    controller: 'LoginController'
                })
                .when('/AddProduct', {
                    templateUrl: 'pages/add_product.html',
                    controller: 'AddProductController'
                })
                .when('/MyProducts', {
                    templateUrl: 'pages/user_products.html',
                    controller: 'UserProductsController'
                })
                .otherwise({
                    redirectTo: '/'
                })
        });
        //app.run(['$rootScope','$templateCache',function ($rootScope, $templateCache) {
        //    $rootScope.$on('$routeChangeStart', function (event, next, current) {
        //        if (typeof (current) !== 'undefined') {
        //            $templateCache.remove(current.templateUrl);
        //        }
        //    });
        //}]);
        app.service('AuthenticationService', ['$http', function ($http) {
            var service = {};
            service.Login = function (login, callback) {
                if (localStorage.getItem('username') != null) {
                    callback(false);
                    return;
                }
                $http.post("@Url.Action("Authenticate", "Authenticate")", login).then(function (response) {
                    localStorage.setItem('username', login.userName);
                    localStorage.setItem('token', response.data);
                    $http.defaults.headers.common.Authorization = 'Bearer ' + response.data;
                    callback(true);
            }, function (error) {
                callback(false);
                })
            }
            service.Logout = function () {
                localStorage.clear();
                $http.defaults.headers.common.Authorization = '';
            }
            return service;
        }])

        app.controller('IndexController', ['$scope', '$http', function ($scope, $http) {
            $scope.message = "Welcome to the App. See the most recent products available!";
            $scope.products = [];
             $http.get("@Url.Action("GetProducts", "Products")").then(function (response) {
                $scope.products = response.data;
            })
        }]);
        app.controller('UsersController', ['$scope', '$http', function ($scope, $http) {
            $scope.users = [];
            $scope.currentUser = {};
            $scope.loggedUser = localStorage.getItem('username');
            $http.get("@Url.Action("GetUsers", "Users")").then(function (response) {

                $scope.users = response.data;
            $scope.users.forEach(function (user) {
                    var date = new Date(user.dateOfBirth);
                    var year = date.getFullYear();
                    var month = date.getMonth();
                    var day = date.getDate();
                    user.dateOfBirth = `${day}/${month + 1}/${year}`;
                })
            })
        }]);
        app.controller('RegisterController', ['$scope', '$http', '$location', 'AuthenticationService', function ($scope, $http, $location, AuthenticationService) {
            $scope.user = {
                id: 0,
                firstName: '',
                lastName: '',
                phoneNumber: null,
                dateOfBirth: null,
                email: null,
                userName: '',
                password: ''
            }
            $scope.message = "";
            $scope.Register = function () {

                $http.post("@Url.Action("PostUser", "Users")", $scope.user).then(function (response) {
                    $scope.login = {
                        userName: $scope.user.userName,
                        password: $scope.user.password
                    }
                    AuthenticationService.Login($scope.login, function (result) {
                        if (result) {
                            $location.path('/Users');
                        } else {
                            $scope.message = "Something went wrong";
                        }
                    })
                }, function (error) {
                        $scope.message = error.data.title;
                });
            }
            
        }])
        app.controller('LoginController', ['$scope', '$http', '$location', 'AuthenticationService', function ($scope, $http, $location, AuthenticationService) {
            $scope.login = {
                userName: $scope.userName,
                password: $scope.password
            }
            $scope.message = "";
            $scope.SignIn = function () {
                AuthenticationService.Login($scope.login, function (result) {
                    if (result) {
                        $location.path('/Users');
                    } else {
                        $scope.message = "Login failed";
                    }
                })
            }
            $scope.SignOut = function () {
                AuthenticationService.Logout();
                $location.path('/');
            }
        }]);
        app.controller('AddProductController', ['$http', '$scope', '$location', function ($http, $scope, $location) {
            $scope.message = "";
            $scope.PermitSavingProduct;
            $scope.manufacturers = [];
            $scope.productSubcategories = [];
            $scope.conditions = [
                {
                    condValue: 0,
                    condName: 'New'
                },
                {
                    condValue: 1,
                    condName: 'Medium'
                },
                {
                    condValue: 2,
                    condName: 'Old'
                }
            ]
            $scope.statuses = [
                {
                    statusValue: 0,
                    statusName: 'Available'
                },
                {
                    statusValue: 1,
                    statusName: 'Booked'
                },
                {
                    statusValue: 2,
                    statusName: 'Sold'
                }
            ]

            $http.get("@Url.Action("GetManufacturers","Manufacturers")").then(function (response) {
                $scope.manufacturers = response.data;
            
            })
             $http.get("@Url.Action("GetProductSubcategories", "ProductSubcategories")").then(function (response) {
                 $scope.productSubcategories = response.data;
             })

            if (localStorage.getItem('username') == null) {
                $scope.message = "To add a product you should sign in first";
                $scope.PermitSavingProduct = true;
            }
                
            
            $scope.onChange = function (item, context) {
                $scope.product[context] = item
            }
            $scope.product = null;
            $scope.Save = function () {
                $http.post("@Url.Action("PostProduct", "Products")", $scope.product).then(function (response) {
                    $location.path('/');
                }, function (error) {
                        $scope.message = error.data;
                })
            }
        }])
        app.controller('UserProductsController', ['$scope', '$http', '$location', function ($scope, $http, $location) {

        }])
        window.onunload = function () {
            localStorage.clear();

        }
    </script>
    }
